.js .fadeInDown {
  transform: translate3d(0, -20, o);
}

.js .fadeInUp {
  transform: translate3d(0, 20, o);
}

.js .fadeInRight {
  transform: translate3d(20, 0, o);
}

.js .fadeInLeft {
  transform: translate3d(-20, 0, o);
}

.js [data-anime] {
  opacity: 0;
}

.js .anime {
  opacity: 1;
  transform: none;
  transition: transform 0.8s, opacity 0.8s;
}
